@model BankPortifolio.Application.DTO.TradeDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TradeDTO</h4>
<hr />
<div class="row">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <label class="form-label">@Html.DisplayNameFor(model => model.ClientSector)</label>
            @Html.DropDownListFor(model => model.ClientSector, new SelectList(ViewBag.TypeOfClientSector, "Value", "Name"), "")
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
